q.1 Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
name_score = [('sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of tuples:")
print(name_score)
name_score.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(name_score)

Q.2 Write a python program to find the square of all the numbers in the given list of integers using lambda and map function.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def sq(x):
  return x**2

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(sq, l))

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2, l))

Q.3 Write a python program to convert the given list of integers into a tuple of string. Use map and lambda functions.
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
l=["1","2","3","4","5","6","7","8","9","10"]
print("\nTuple of strings:")
list(map(lambda s:s.upper(), l,))

Q.4 Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [ ]:
from functools import reduce
l=[1,2,3,4,5,6,7,8,9,10,11,12,13, 14,15,1, 17,18,19,20,21,22,23,24,25]
reduce(lambda a, b: a * b, l)

In [ ]:
from functools import reduce
l=[4,5,5]
reduce(lambda a, b: a * b, l)

In [ ]:
from functools import reduce
l=[4,5,5]
reduce(lambda a, b: a + b, l)

In [ ]:
def prod(x):
  return x*2

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13, 14,15,1, 17,18,19,20,21,22,23,24,25]
list(map(prod, l))

Q.5 Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
my_list = [12, 65, 54, 39, 102, 339, 221,]
result = list(filter(lambda x: (x % 2 == 0 & x % 3 ==0), my_list))
print("Numbers divisible by 2 & 3 are",result)

In [ ]:
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%2==0) & (i%3==0)):
      print(i)

In [ ]:
n = int(input("Enter the number to be divisible by:"))
n1=int(input("Enter the number to be divisible by:"))
for i in range(lower, upper+1):
   if(i%n==0) & (i%n1==0):
      print(i)

Q.6 Write a python program to find palindromes in the given list of string using lambda and filter function.
['python' 'php' 'aba' radar' level']

In [ ]:
texts = ["python","php","aba","radar","level"]
print("Orginal list of strings:")
print(texts) 
result = list(filter(lambda x: (x == "".join(reversed(x))), texts)) 
print("\nList of palindromes:")
print(result)